{
    "config" : {
        "auth_type" : "email-password",
        "firebase_client_config_file": "etc/firebase_config.json",
        "firebase_message_timeout" : 10000
    },
    "email-password" : {
        "email": "your-frontend-email-id",
        "password" : "your-frontend-email-id-password"
    },
    "local-device-config" : {
        "url": "wss://127.0.0.1:8080/stream/webrtc",
        "title": "Livinging Room",
        "description": "",
        "deviceId": "1",
        "type": "type-v1"
    }
}
